.results, .resultsDark {
    background-color: var(--white);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    padding: 30px;
    border-radius: 15px;
}

.resultsDark {
    background-color: var(--skyblue-dark);
}

.resultsHeader {
    display: flex;
}

.resultsHeader img {
    width: 120px;
    border-radius: 100%;
}

.resultsInfo, .resultInfoDark {
    margin-left: 40px;
}

.resultInfo h1 {
    color: var(--slate-light);
}

.resultInfoDark h1, .resultInfoDark .joinedAt, .resultsDescriptionDark {
    color: var(--white);
}

.resultsInfo .username, .resultInfoDark .username {
    color: var(--primary);
    margin: 10px 0;
}

.resultsInfo .joinedAt {
    color: var(--secondary-light);
}

.resultsDescription {
    margin: 20px 0;
}

.resultsDescription p {
    color: var(--skyblue-light);
}

.resultsTotal, .resultsTotalDark {
    background-color: var(--gray-light);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border-radius: 10px;
}

.resultsTotalDark {
    background-color: var(--slate-dark);
}

.result h4 {
    color: var(--skyblue-light);
}

.result h2 {
    color: var(--slate-light);
}

.resultDark h4, .resultDark h2 {
    color: var(--white);
}